node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lib-cov/
coverage/
.nyc_output/
.grunt/
bower_components/
typings/
.npm/
.eslintcache
.node_repl_history
.env
*/.env
build/
docker-compose.override.yml
docker-compose.debug.yml
.DS_Store
*.pem
